.current-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-icon {
  max-width: 125px;
  max-height: 125px;
}

.current-low-hi {
  display: flex;
}

.current-low-hi > * {
  padding: 0 0.75em;
}


.current-main {
  font-size: 2rem;
}

.current-main-deg {
  position: absolute;
}
