@import url(./app/components/searchbar/searchbar.css);
@import url(./app/components/forcast/forcast.css);
@import url(./app/components/forcast/forcastCards/forcastCards.css);

body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
