@import url(./app/app.css);
@import url(./app/components/SkeletonComponent/SkeletonComponent.css);
@import url(./app/components/cardContainer/container.css);
@import url(./app/components/switch/switch.css);
@import url(./app/components/searchbar/searchbar.css);
@import url(./app/components/currentWeather/current.css);
@import url(./app/components/forecast/forecast.css);
@import url(./app/components/forecast/forecastCards/forecastCards.css);

body,
html {
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 100%;
}

* {
  box-sizing: border-box;
}
